body{
    font-family: verdana;
    max-width: auto;
    max-height: auto;
    text-align: center;
    align-content: center;
    background: url("parede2.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0%;
    padding-bottom: 0%;
   
}

#title,.subtitle,.post_title {
    color:#fff ;
}
#title{
    text-transform: uppercase;
    font-style: italic;
    font-size: 50px;
    color: #fff;
    margin: auto;
}


.post_title{
    font-size: 16px;
    font-style: italic;
    margin:0;
    margin-bottom: 15px;
}
.post{
    background: rgb(145, 114, 204);
    border:  1px double  rgb(20, 11, 11);
    border-radius: 10px;
    font-style: italic;
    width: 30%;
    margin: auto;
    padding: 10px;

    
}
.post_content {
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 15px;

}

button{
    background-color: yellow;
    margin: 0 2px 1px 2px dashed red;
    padding: 1;
    border: 1px 1px 1px 1px;
    border-radius: 10px;
    font-family: inherit;

}
a{
    text-decoration-line: underline;
    font-family: verdana;
    color:black ;
}
.photo{
    border-radius: 50%;
    border: 2px solid;
    border-color:#fff;
}

.text_descolha{
    text-transform: capitalize;
    color: #fff;
    
}
.list{
    list-style-type: square;
    color: black;
    padding: 5px;
    margin: 0 0 20px px;
}
.center{
    text-align: center;
    color:yellowgreen;
}
footer li a{
    color:blue ;
    margin: 10px 15px 10px 15px; 
    
}
footer{
    background: black;
    
}